.header_top{
  height:60px;
}

.search_box {
  width: 600px;
  height: 40px;
  position: relative;
}

.form-control:focus{
  
}

.search_box input {
  height: 100%;
  width: 100%;
  font-size: 16px;
  outline: 0;
  padding: 0 20px;
  border-radius: 10px;
  border: 0;
  background-color: var(--second-bg-color);
}

.search_box i {
  right: 20px;
  cursor: pointer;
  font-size: 25px;
}

.search_box i:hover{
  color:#ffdd57;
}

.user_menu i:hover{
  color: #ffdd57;
}


/* Nabar */

.navbar {
  background-color: var(--third-bg-color);
  height: 60px;
}

.navbar li a {
  color: var(--black);
}

/* Footer */
.footer{
  background-color: var(--third-bg-color);
  height: 150px;
}

.contact-header {
  font-weight: 600;
  margin-bottom: 30px;
  font-size: 38px;
}

/* Silder */

/* ====== TEXT Ở DƯỚI ẢNH (CĂN GIỮA) ====== */
.info-content {
  bottom: 20px;
}

/* Hover cho nút */
.slide-control:hover {
  background: rgba(255, 255, 255, 0.7);
}


