

.search_box {
    width: 600px;
    height: 40px;
    position: relative;
}

.search_box input {
    height: 100%;
    width: 100%;
    font-size: 16px;
    outline: 0;
    padding: 0 20px;
    border-radius: 10px;
    border: 0;
    background-color: var(--second-bg-color);
}

.search_box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    cursor: pointer;
    font-size: 25px;
}

.user_menu{
  width: 6.25vw;
  font-size: 1.4rem;
}

.user_menu i {
  font-size: 2.2rem;
}

